.container{
    border: 1px solid black;
    height: 100vh;
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box{
    height: 150px;
    width: 150px;
    background-color: aqua;
    margin: 10px;
}
.content{
    margin: 10px;

}
